@media only screen and (min-width:70em) {
    html {
        background-image: url(/phpmotors/images/site/checkerboard.jpg);
        background-size: 40%;
    }

    body {
        width: 90%;
        height: 90%;
        margin: 5%;

    }

    nav li {
        flex-direction: row;
        flex: 1 1 auto;
        padding: 1em 0;
    }

    nav li a {
        padding: 0.9em 0.5em;
        font-size: large;
    }

    nav a:hover {
        color: #3a3a3a;
        background-color: #4c96d7;
    }

    nav .active {
        color: #3a3a3a;
        background-color: #4c96d7;
    }

    h1 {
        font-size: x-large;
    }

    footer {
        font-size: large;
    }

    .offersection h1 {
        font-size: 2.5em;
    }

    .offer {
        padding-left: 2em;
        font-size: x-large;
    }

    .offer img {
        width: 80%;
        margin: 0 10%;
    }

    .offer input {
        position: absolute;
        top: 70%;
        margin: 0;
        width: 18%;
    }

    .upgradeReview {
        margin: 2em;
        display: flex;
        flex-flow: row;
        text-align: left;
    }

    .upgradeReview div {
        width: 50%;
    }

    .upgradeReview h2 {
        margin-bottom: 1em;
        font-family: 'Audiowide', cursive;
        font-size: xx-large;
        color: #3a3a3a;
    }

    .reviews li {
        font-family: 'Gemunu Libre', sans-serif;
        font-size: larger;
        font-weight: bold;
        color: #8d8d8d;
        padding-bottom: 1em;
    }

    .flex-container {
        display: flex;
        justify-content: space-around;
    }

    .flex-container .flex-item {
        padding: 0 1em;
    }

    .flex-padding {
        padding-bottom: 1em;
    }

    .flex-container .flex-item img {
        background-color: #4c96d7;
        padding: 1em 2em;
        border: 2px solid #3a3a3a;
    }

    .login-page h1 {
        font-size: xx-large;
    }

    .login-form label {
        font-size: larger;
    }

    .login-form input {
        font-size: larger;
        width: 20%;
    }

    .login-form .login-submit {
        font-size: 1.4em;
        font-weight: bold;
        padding: 0.3em 0.45em;
        box-sizing: content-box;
    }

    .login-page p {
        font-size: 1.2em;
    }

    .login-page button {
        font-size: 1.3em;
        margin-top: 0.2em;
    }

    .login-page a {
        font-size: 1.4em;
    }

    #reg {
        font-size: 1.3em;
        padding: 0.2em 0.45em;
        box-sizing: content-box;
    }

    .vehicleManHeading {
        margin: 0 30%;
        font-size: x-large;
    }

    .vehicleMan {
        margin: 0 30%;
    }

    .vehicleMan a {
        font-size: large;
    }

    .addClassification input {
        font-size: 1.3em;
    }

    #addClassification,
    #addVehicle {
        padding: 0.4em 1em;
        font-size: 1.3em;
    }

    #emptyAddClass {
        font-size: large;
    }

    .vehicleMan textarea {
        height: 3em;
        width: 18.5em;
    }

    .vehicleSelect {
        width: 14em;
        font-size: large;
    }
    .hint{
        font-size: larger;
        font-weight: 700;
    }
}