    /* ---------------------- COLOR SCHEME ------------------- */
    /*
    lightgrey= #bababa
    darkgrey=  #8d8d8d
    lightblue= #a6cbeb
    blue=      #4c96d7
    black=     #3a3a3a
    white=     #ffffff
    */
    /*----------------------- FONTS --------------------------*/
    /*
    font-family: 'Orbitron', sans-serif;        --- nav
    font-family: 'Gemunu Libre', sans-serif;    --- footer
    font-family: 'Audiowide', cursive;          --- titles
    */

    * {
        padding: 0%;
        margin: 0%;
    }

    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }

    html {
        box-sizing: border-box;
    }

    body {
        background-color: #ffffff;
    }

    header {
        display: flex;
        flex-flow: row;
        align-items: center;
        background-color: #ffffff;
        width: 100%;
        justify-content: space-between;
    }

    #myaccount {
        margin-right: 1em;
        font-family: 'Gemunu Libre', sans-serif;
        font-size: large;
        font-weight: 900;
        text-decoration: none;
        color: #3a3a3a;
    }

    #myaccount:hover {
        color: #4c96d7;
    }

    #welcomeMessage {
        color: #3a3a3a;
        text-decoration: none;
        font-family: 'Gemunu Libre', sans-serif;
        font-size: larger;
        font-weight: 900;
        margin-right: 1em;
        /* color: #1abc9c; */
    }

    #welcomeMessage:hover {
        color: #4c96d7;
    }

    #logout {
        color: #3a3a3a;
        font-family: 'Gemunu Libre', sans-serif;
        font-size: large;
        font-weight: 900;
        margin-right: 1em;
    }

    #logout:hover {
        color: crimson;
    }

    nav {
        background-color: #3a3a3a;
    }

    nav li {
        display: inline-block;
        text-decoration: none;
        padding: 0.3em;
    }

    nav li a {
        text-decoration: none;
        color: #ffffff;
        font-family: 'Orbitron', sans-serif;
        font-weight: 600;
        font-size: small;
        background-color: #3a3a3a;
    }

    nav .active {
        background-color: #4c96d7;
        color: #3a3a3a;
        padding: 1.2em;
    }

    h1 {

        padding: 0.5em 0;
        font-family: 'Audiowide', cursive;
        color: #3a3a3a;
    }

    .footerline {
        width: 100%;
        height: 5px;
        background-color: #3a3a3a;
    }

    footer {
        padding: 1em 0;
        text-align: center;
        font-family: 'Gemunu Libre', sans-serif;
        font-size: small;
        font-weight: 900;
        color: #3a3a3a;
    }

    /*------------------------ HOME PAGE -----------------*/
    .offersection {
        padding: 0.5em 0.5em;
    }

    .offersection h1 {
        font-size: 1.4em;
    }

    .offer {
        color: #4c96d7;
        font-family: 'Audiowide', cursive;
    }

    .offer img {
        width: 100%;
    }

    .offer input {
        width: 50%;
        margin: 1em 25%
    }

    .flex-offer {
        display: flex;
    }

    .flex-offer-item {
        display: flex;
        height: 100%;
    }

    .upgradeReview {
        display: flex;
        flex-flow: column-reverse;
    }

    .reviews h2 {
        padding-left: 0.5em;
    }

    .reviews ul {
        padding-left: 2em;
        font-family: 'Gemunu Libre', sans-serif;
        font-weight: bold;
        color: #8d8d8d;
        padding-bottom: 1em;
    }

    .upgrades h2 {
        padding: 0 0.5em 0.5em;

    }

    .flex-container {
        display: flex;
        justify-content: space-around;
    }

    .flex-container .flex-item {
        display: flex;
        justify-content: space-between;
    }

    .flex-padding {
        padding-bottom: 1em;
    }

    .flex-container .flex-item img {
        background-color: #4c96d7;
        width: 100%;
        padding: 1em 2em;
        border: 1px solid #3a3a3a;
    }

    /* error page */

    .error500 h1 {
        padding-left: 1em;
    }

    .error500 p {
        padding-left: 1em;
        font-size: large;
        padding-bottom: 1em;
    }

    /* ---------------------- LOGIN PAGE --------------------- */

    .login-page {
        margin-left: 1em;
    }

    .login-form label {
        color: #3a3a3a;
        font-size: 1em;
        font-family: 'Audiowide', cursive;
    }

    .login-form input {
        color: #3a3a3a;
        padding: 0.2em 0.5em;
        border: #3a3a3a 2px solid;
    }

    .login-submit {
        background-color: #4c96d7;
        color: #3a3a3a;
        font-family: 'Orbitron', sans-serif;
        font-size: 1.2em;
        font-weight: bold;
        padding: 0.3em 0.7em;
        margin-top: 0.5em;
        border: #3a3a3a 2px solid;
    }

    .login-submit:hover {
        background-color: #3a3a3a;
        color: #ffffff;
        border: #4c96d7 2px solid;
    }

    .login-page p {
        margin-top: 1em;
        font-family: 'Audiowide', cursive;
        color: #3a3a3a;
    }

    .login-page button {
        font-family: 'Orbitron', sans-serif;
        font-size: 0.9em;
        background-color: #3a3a3a;
        color: #ffffff;
        padding: 0.3em 0.7em;
        border: #4c96d7 2px solid;
    }

    .login-page button:hover {
        background-color: #4c96d7;
        color: #3a3a3a;
        font-weight: 900;
        border: #3a3a3a 2px solid;
    }

    .login-page a {
        font-family: 'Audiowide', cursive;
        font-size: 0.9em;
        color: #3a3a3a;
    }

    .login-page a:hover {
        color: #4c96d7;
    }

    .register-button {
        margin-top: 0.5em;
    }

    #reg,
    .reg {
        background-color: #4c96d7;
        color: #3a3a3a;
        font-family: 'Orbitron', sans-serif;
        font-size: 1.2em;
        font-weight: bold;
        padding: 0.3em 0.7em;
        margin-top: 0.5em;
        border: #3a3a3a 2px solid;
        box-sizing: content-box;
    }

    #reg:hover,
    .reg:hover {
        background-color: #3a3a3a;
        color: #ffffff;
        border: #4c96d7 2px solid;
    }

    #msgEmptyField,
    #msgUnregistered {
        color: crimson;
        margin-bottom: 1em;
    }

    #msgRegistered {
        color: #1abc9c;
        margin-bottom: 1em;
    }

    .msgName {
        color: #4c96d7;
        font-size: larger;
    }

    .vehicleManHeading {
        text-align: center;
        font-size: 1.2em;
    }

    .vehicleMan {
        text-align: center;
        border: #8d8d8d 2px solid;
        box-shadow: #8d8d8d 0 5px 5px;
        margin: 0 15%;
        border-radius: 5px;
    }

    .vehicleMan a {
        display: inline-block;
        border: #8d8d8d 2px solid;
        text-decoration: none;
        color: #3a3a3a;
        font-family: 'Orbitron', sans-serif;
        font-weight: 600;
        margin: 0.5em 0;
        padding: 0.3em 1.2em;
        background-color: #dfdfdf;
        border-radius: 5px;
    }

    .vehicleMan a:hover {
        background-color: #4c96d7;
    }

    .vehicleMan textarea {
        height: 2em;
        width: 14em;
    }

    .addClassification input {
        color: #8d8d8d;
        padding: 0.2em 0.5em;
        margin: 0.2em 1.2em;
        font-size: 1em;
        text-align: center;
    }

    .addClassification label {
        text-align: center;
        color: #3a3a3a;
        font-size: 1em;
        font-family: 'Audiowide', cursive;
    }

    #addClassification,
    #addVehicle {
        background-color: #4c96d7;
        color: #ffffff;
        font-family: 'Orbitron', sans-serif;
        font-size: 1em;
        font-weight: bold;
        border-radius: 5px;
    }

    #addClassification:hover,
    #addVehicle:hover {
        background-color: #3a3a3a;
        color: #ffffff;
        border: #4c96d7 2px solid;
    }

    #emptyAddClass {
        color: crimson;
        text-align: center;
        margin-bottom: 1em;
    }

    .vehicleSelect {
        margin: 0.5em auto 0.5em;
        width: 12em;
        font-size: medium;
        text-align: center;
        padding: 0.3em 0.8em;
    }

    #msgNewVehicle {
        font-size: large;
        color: #1abc9c;
        text-align: center;
        margin-bottom: 1em;
    }

    #invImage,
    #invThumbnail {
        color: #3a3a3a;
    }

    .hint {
        color: #4c96d7;
        font-family: 'Gemunu Libre', sans-serif;
    }

    input:required:invalid,
    input:focus:invalid {
        background-color: #ffe2e3;
    }

    input:focus:valid {
        background-color: lightskyblue;
        color: #3a3a3a;
    }

    textarea:required:invalid,
    textarea:focus:invalid {
        background-color: #ffe2e3;
    }

    textarea:focus:valid {
        background-color: lightskyblue;
        color: #3a3a3a;
        font-size: large;
        font-weight: 800;
    }

    select:invalid {
        background-color: #ffe2e3;
    }

    select:valid {
        background-color: #ffffff;
    }

    .admin-view h1 {
        font-size: 1.2em;
    }

    .admin-view {
        margin-left: 3em;
    }

    .admin-view li {
        list-style-type: none;
        font-family: 'Gemunu Libre', sans-serif;
        font-size: larger;
    }

    .admin-link {
        text-decoration: none;
        color: #3a3a3a;
        font-family: 'Gemunu Libre', sans-serif;
        font-size: larger;
        font-weight: 700;
    }

    .admin-link:hover {
        color: #4c96d7;
    }

    .clientUpdate {
        margin-left: 2em;
    }

    .clientUpdate h2 {
        padding: 0.5em 0;
        font-family: 'Audiowide', cursive;
        color: #4c96d7;
    }

    #clientupdateWarning {
        margin: 0;
        color: crimson;
        font-family: 'Gemunu Libre', sans-serif;
    }

    .admin-view h2 {
        font-family: 'Audiowide', cursive;
        /* color: #1abc9c;
        text-shadow: #3a3a3a 1px 1px;
        font-size: 1.6em; */
        color: #3a3a3a;
        font-size: 1.3em;
        font-weight: 900;
    }

    .admin-view h2:last-of-type {
        margin-top: 1em;
    }

    .veh-man-update {
        text-align: center;
        margin-top: 1em;
        font-family: 'Gemunu Libre', sans-serif;
        font-size: 1.2em;
        font-weight: 700;
    }

    .veh-man-updateH2 {
        font-size: 1.3em;
    }

    #inventoryDisplay {
        margin: auto;
        margin-top: 1em;
        font-family: 'Gemunu Libre', sans-serif;
        font-size: 1.3em;
        color: #3a3a3a;
        font-weight: 800;
        color: #1abc9c;
    }

    #invD {
        text-align: left;
        color: #3a3a3a;
    }

    #invDbody {
        margin-left: 1em;
    }

    #invDbody:hover {
        color: crimson;
    }



    #inv-display {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    #classificationPageHead {
        margin-left: 1em;
    }

    #inv-display li {
        margin-bottom: .5em;
        border: 3px #ccc solid;
        list-style-type: none;
        flex: 1 1 auto;
    }

    #inv-display h2,
    span {
        margin-left: .5em;
        font-family: 'Gemunu Libre', sans-serif;
        color: #3a3a3a;
    }

    #inv-display li img {
        width: 100%;
    }






    #vehicleSpecialInfo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #invSpecHead {
        font-family: 'Audiowide', cursive;
        color: #3a3a3a;
        font-size: 1.3em;
        margin: 0 0.5em;
    }

    #vehicleSpecialInfo img {
        width: 100%;
    }

    #invPrice {
        font-family: 'Gemunu Libre', sans-serif;
        font-size: x-large;
        font-weight: 900;
        margin: 0.5em 1em;
        color: #4c96d7;
    }

    #invPrice::before {
        content: 'Price: $';
        color: #3a3a3a;
    }

    #vehicleSpecialTextBlock {
        margin-top: 1.2em;
        text-align: left;
    }

    #vehicleSpecialTextBlock h2 {
        font-family: 'Audiowide', cursive;
        color: #3a3a3a;
        margin-left: 0.5em;
        font-size: 1.2em;
    }

    #vehicleSpecialTextBlock p {
        padding: .5em;
        font-family: 'Gemunu Libre', sans-serif;
        font-size: large;
    }

    #vehicleSpecialTextBlock p:nth-child(2n) {
        background-color: #e8e8e8;
    }

    #vehicleSpecialTextBlock p:nth-child(3)::before {
        content: 'Color: ';
    }

    #vehicleSpecialTextBlock p:nth-child(4)::before {
        content: 'In Stock: ';
    }

    #vehicleSpecialTextBlock p:nth-child(5) a {
        display: none;
    }

    .imageUploadView {
        margin: 0 2em;
    }

    .imageUploadView h1,
    h2 {
        font-family: 'Audiowide', cursive;
        color: #3a3a3a;
    }

    .imageUploadView h2 {
        color: #1B5583;
    }

    .imageUploadView h2:first-of-type {
        margin-bottom: .5em;
        color: teal;
    }

    .imageUploadView h1 {
        font-size: 1.8em;
    }

    .imageUploadView p {
        font-family: 'Gemunu Libre', sans-serif;
        font-size: 1.2em;
    }

    .imageUploadSelector {
        font-size: large;
        margin: 0 0 .5em .5em;
        box-shadow: 2px 2px 2px #3a3a3a;
        border-radius: 5px;
    }

    #TealColor {
        color: teal;
    }

    .imageUploadView form label {
        color: #3a3a3a;
        font-size: 1.3em;
        font-family: 'Gemunu Libre', sans-serif;
        font-weight: 600;
    }

    .imageUploadView form input {
        padding: 0.2em 0.5em;
    }

    .imageUploadView fieldset {
        border: none;
    }

    .imageUploadView hr {
        margin: 1em 0;
    }

    /* radio button toggle */
    .form_toggle {
        overflow: hidden;
    }

    .form_toggle-item {
        display: inline-block;
    }

    .form_toggle-item input[type=radio] {
        display: none;
    }

    .form_toggle-item label {
        display: inline-block;
        padding: 0 10px;
        border: 2px solid #999;
        cursor: pointer;
        user-select: none;
        box-shadow: 2px 4px 2px #3a3a3a;
    }

    .form_toggle .item-1 label {
        border-radius: 6px 0 0 6px;
        color: #3a3a3a;
    }

    .form_toggle .item-2 label {
        border-radius: 0 6px 6px 0;
        color: #3a3a3a;
    }

    /* Checked */
    .form_toggle .item-1 input[type=radio]:checked+label {
        background-color: teal;
        color: white;
        font-size: x-large;
        border: none;
    }

    .form_toggle .item-2 input[type=radio]:checked+label {
        background-color: crimson;
        color: white;
        font-size: x-large;
        border: none;
    }

    .failure {
        font-size: large;
        color: crimson;
        margin-bottom: 1em;
    }

    .success {
        font-size: large;
        color: #1abc9c;
        margin-bottom: 1em;
    }

    #uploadImage {
        background: teal;
        cursor: pointer;
        color: white;
        padding: .2em .3em;
        font-family: 'Gemunu Libre', sans-serif;
        font-size: x-large;
        border: 1px solid grey;
        box-shadow: 2px 2px 2px #3a3a3a;
        border-radius: 5px;
        margin-top: .5em;
    }

    input[type=file] {
        font-family: 'Gemunu Libre', sans-serif;
        font-size: large;
    }

    input[type=file]:focus:valid {
        background-color: white;
    }

    #image-display {
        display: grid;
        grid-template-columns: 1fr;
    }

    #image-display img {
        max-width: 100%;
        margin-top: 1.5em;
    }

    #image-display a {
        color: #1B5583
    }

    #image-display li {
        list-style-type: none;
    }

    input[type=file] {
        margin-top: .5em;
        width: 20em;
        background-color: cadetblue;
        border-radius: 5px;
    }

    .imageUploadView hr {
        height: 3px;
        background-color: cadetblue;
    }


    /* get image button */

    #selected {
        text-transform: uppercase;
        color: teal;
        padding: 0 5px;
        border: 1px solid grey;
        border-radius: 5px;
        margin-left: .5em;
        margin-top: .5em;
        box-shadow: 2px 2px 2px #3a3a3a;
    }

    [value="Select File"] {
        background: teal;
        cursor: pointer;
        color: white;
        padding: 2px 5px;
        font-family: Trebuchet MS;
        font-size: large;
        border: 0;
        border-radius: 5px;
        box-shadow: 2px 2px 2px #3a3a3a;
        margin-top: .5em;
    }

    [value=getFile]:hover {
        background: #0aa;
    }

    .thumbs {
        flex-direction: column;
    }

    .thumbs img {
        max-width: 50%;
        height: 150px;
    }

    #thumbsH2 {
        font-family: 'Gemunu Libre', sans-serif;
        font-size: 1.3em;
        margin: .5em .5em;
    }

    #thumbsHiddenMobile {
        display: none;
    }

    details[open] {
        animation: spoiler 3s;
    }

    @keyframes spoiler {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .review {
        margin-left: .5em;
    }

    .review h2 {
        font-family: 'Audiowide', cursive;
        color: #3a3a3a;
        font-size: 1.2em;
    }

    #noreviews {
        color: crimson;
        font-size: large;
    }

    #reviewLogin {
        margin-top: .5em;
        font-family: 'Gemunu Libre', sans-serif;
        font-size: large;
    }

    #reviewLogin a {
        color: #4c96d7;
        padding-bottom: .5em;
    }

    #reviewLogin a:hover {
        color: #1abc9c;
    }

    .updown {
        content: url(/phpmotors/images/site/top.png);
        background-color: unset;
        border-radius: 50%;
        display: inline-block;
        text-align: center;
        width: 40px;
        height: 40px;
    }

    .updown:hover {
        animation: radial-pulse 1.2s infinite;
    }

    @keyframes radial-pulse {
        0% {
            box-shadow: 0 0 0 0px #4c96d7;
        }

        100% {
            box-shadow: 0 0 0 20px white;
        }
    }

    .reviewsInfo p {
        margin-right: .5em;
        background-color: #63717f;
        padding: .2em 0;
        border-radius: 5px 5px 0 0;
    }

    .reviewsInfo p:nth-of-type(2n) {
        padding: .5em 1em;
        background-color: lightgray;
        border-radius: 0 0 5px 5px;
    }

    .reviewsScreenName {
        color: white;
    }

    .reviewsDate {
        color: lightgoldenrodyellow;
    }

    .review h3 {
        margin-bottom: .5em;
        color: #3a3a3a;
        font-size: 1em;
        font-family: 'Audiowide', cursive;
    }

    .review-form label {
        color: #3a3a3a;
        font-family: 'Orbitron', sans-serif;
    }

    .review-form input:first-of-type {
        padding: .5em;
        font-family: 'Gemunu Libre', sans-serif;
        font-size: large;
        font-weight: 900;
        margin-bottom: .5em;
        background-color: #e8e8e8;
        border-radius: 5px;
        border: 2px solid #4c96d7;
    }

    .review-form #reviewText {
        background-color: #e8e8e8;
        border-radius: 5px;
        border: 2px solid #4c96d7;
        width: 80%;
        height: 8em;
        padding: .3em;
        font-size: large;
    }

    .reviewedDate {
        color: darkgoldenrod;
    }

    #reviewText {
        border-radius: 5px;
        border: 2px solid #4c96d7;
        padding: .3em;
        width: 90%;
        height: 8em;
        font-size: large;
    }

    .flexy {
        display: flex;
        justify-content: space-between;
    }

    .flexy a {
        margin-right: 2em;
    }

    .flexyRight {
        display: flex;
        justify-content: space-between;
    }

    .flexyRight .updown {
        margin-right: 2em;
    }

    #review-submit {
        background-color: #4c96d7;
        color: #3a3a3a;
        font-family: 'Orbitron', sans-serif;
        font-size: 1.2em;
        font-weight: bold;
        padding: 0.3em 0.7em;
        margin-top: 0.5em;
        border: #3a3a3a 2px solid;
    }

    #review-submit:hover {
        background-color: #3a3a3a;
        color: #ffffff;
        border: #4c96d7 2px solid;
    }

    .reviewUpdLink,
    .reviewDelLink {
        margin-left: 1em;
    }

    .reviewUpdLink:hover {
        color: goldenrod;
    }

    .reviewDelLink:hover {
        color: crimson;
    }

    .gridview {
        display: grid;
    }

    .adminVLink {
        text-decoration: none;
        color: #3a3a3a;
        font-size: 1.2em;
        font-weight: 800;
    }

    .adminVLink:hover {
        color: coral;
    }