    /* ---------------------- COLOR SCHEME ------------------- */
    /*
    lightgrey= #bababa
    darkgrey=  #8d8d8d
    lightblue= #a6cbeb
    blue=      #4c96d7
    black=     #3a3a3a
    white=     #ffffff
    */
    /*----------------------- FONTS --------------------------*/
    /*
    font-family: 'Orbitron', sans-serif;        --- nav
    font-family: 'Gemunu Libre', sans-serif;    --- footer
    font-family: 'Audiowide', cursive;          --- titles
    */
    * {
        padding: 0%;
        margin: 0%;
    }

    body {
        background-color: #ffffff;
    }

    header {
        display: flex;
        flex-flow: row;
        align-items: center;
        padding-bottom: 1em;
        background-color: #ffffff;
        width: 100%;
        justify-content: space-between;
    }

    #myaccount {
        padding-right: 3em;
        font-family: 'Gemunu Libre', sans-serif;
        font-size: large;
        font-weight: 900;
        text-decoration: none;
        color: #3a3a3a;
    }

    nav {
        background-color: #3a3a3a;
    }

    nav li {
        display: inline-block;
        text-decoration: none;
        padding: 0.3em;
    }

    nav li a {
        text-decoration: none;
        color: #ffffff;
        font-family: 'Orbitron', sans-serif;
        font-weight: 600;
        font-size: small;
        background-color: #3a3a3a;
    }

    nav .active {
        background-color: #4c96d7;
        color: #3a3a3a;
        padding: 1.2em;
    }

    h1 {

        padding: 0.5em 0;
        font-family: 'Audiowide', cursive;
        color: #3a3a3a;
    }

    .footerline {
        width: 100%;
        height: 5px;
        background-color: #3a3a3a;
    }

    footer {
        padding: 1em 0;
        text-align: center;
        font-family: 'Gemunu Libre', sans-serif;
        font-size: small;
        font-weight: 900;
        color: #3a3a3a;
    }

    /*------------------------ HOME PAGE -----------------*/
    .offersection {
        padding: 0.5em 0.5em;
    }

    .offersection h1 {
        font-size: 1.4em;
    }

    .offer {
        color: #4c96d7;
        font-family: 'Audiowide', cursive;
    }

    .offer img {
        width: 100%;
    }

    .offer input {
        width: 50%;
        margin: 1em 25%
    }

    .flex-offer {
        display: flex;
    }

    .flex-offer-item {
        display: flex;
        height: 100%;
    }

    .upgradeReview {
        display: flex;
        flex-flow: column-reverse;
    }

    .reviews h2 {
        padding-left: 0.5em;
    }

    .reviews ul {
        padding-left: 2em;
        font-family: 'Gemunu Libre', sans-serif;
        font-weight: bold;
        color: #8d8d8d;
        padding-bottom: 1em;
    }

    .upgrades h2 {
        padding: 0 0.5em 0.5em;

    }

    .flex-container {
        display: flex;
        justify-content: space-around;
    }

    .flex-container .flex-item {
        display: flex;
        justify-content: space-between;
    }

    .flex-padding {
        padding-bottom: 1em;
    }

    .flex-container .flex-item img {
        background-color: #4c96d7;
        width: 100%;
        padding: 1em 2em;
        border: 1px solid #3a3a3a;
    }

    /* error page */

    .error500 h1 {
        padding-left: 1em;
    }

    .error500 p {
        padding-left: 1em;
        font-size: large;
        padding-bottom: 1em;
    }

    /* ---------------------- LOGIN PAGE --------------------- */

    .login-page {
        margin-left: 1em;
    }

    .login-form label {
        color: #3a3a3a;
        font-size: 1em;
        font-family: 'Audiowide', cursive;
    }

    .login-form input {
        color: #3a3a3a;
        padding: 0.2em 0.5em;
        border: #3a3a3a 2px solid;
    }

    .login-submit {
        background-color: #4c96d7;
        color: #3a3a3a;
        font-family: 'Orbitron', sans-serif;
        font-size: 1.2em;
        font-weight: bold;
        padding: 0.3em 0.7em;
        margin-top: 0.5em;
        border: #3a3a3a 2px solid;
    }

    .login-submit:hover {
        background-color: #3a3a3a;
        color: #ffffff;
        border: #4c96d7 2px solid;
    }

    .login-page p {
        margin-top: 1em;
        font-family: 'Audiowide', cursive;
        color: #3a3a3a;
    }

    .login-page button {
        font-family: 'Orbitron', sans-serif;
        font-size: 0.9em;
        background-color: #3a3a3a;
        color: #ffffff;
        padding: 0.3em 0.7em;
        border: #4c96d7 2px solid;
    }

    .login-page button:hover {
        background-color: #4c96d7;
        color: #3a3a3a;
        font-weight: 900;
        border: #3a3a3a 2px solid;
    }

    .login-page a {
        font-family: 'Audiowide', cursive;
        font-size: 0.9em;
        color: #3a3a3a;
    }

    .login-page a:hover {
        color: #4c96d7;
    }

    .register-button {
        margin-top: 0.5em;
    }

    #reg {
        background-color: #4c96d7;
        color: #3a3a3a;
        font-family: 'Orbitron', sans-serif;
        font-size: 1.2em;
        font-weight: bold;
        padding: 0.3em 0.7em;
        margin-top: 0.5em;
        border: #3a3a3a 2px solid;
        box-sizing: content-box;
    }

    #reg:hover {
        background-color: #3a3a3a;
        color: #ffffff;
        border: #4c96d7 2px solid;
    }

    #msgEmptyField,
    #msgUnregistered {
        color: crimson;
        margin-bottom: 1em;
    }

    #msgRegistered {
        color: #1abc9c;
        margin-bottom: 1em;
    }

    .msgName {
        color: #4c96d7;
        font-size: larger;
    }

    .vehicleManHeading {
        text-align: center;
        font-size: 1.2em;
    }

    .vehicleMan {
        text-align: center;
        border: #8d8d8d 2px solid;
        box-shadow: #8d8d8d 0 5px 5px;
        margin: 0 15%;
        border-radius: 5px;
    }

    .vehicleMan a {
        display: inline-block;
        border: #8d8d8d 2px solid;
        text-decoration: none;
        color: #3a3a3a;
        font-family: 'Orbitron', sans-serif;
        font-weight: 600;
        margin: 0.5em 0;
        padding: 0.3em 1.2em;
        background-color: #dfdfdf;
        border-radius: 5px;
    }

    .vehicleMan a:hover {
        background-color: #4c96d7;
    }

    .vehicleMan textarea {
        height: 2em;
        width: 14em;
    }

    .addClassification input {
        color: #8d8d8d;
        padding: 0.2em 0.5em;
        margin: 0.2em 1.2em;
        font-size: 1em;
        text-align: center;
    }

    .addClassification label {
        text-align: center;
        color: #3a3a3a;
        font-size: 1em;
        font-family: 'Audiowide', cursive;
    }

    #addClassification,
    #addVehicle {
        background-color: #4c96d7;
        color: #ffffff;
        font-family: 'Orbitron', sans-serif;
        font-size: 1em;
        font-weight: bold;
        border-radius: 5px;
    }

    #addClassification:hover,
    #addVehicle:hover {
        background-color: #3a3a3a;
        color: #ffffff;
        border: #4c96d7 2px solid;
    }

    #emptyAddClass {
        color: crimson;
        text-align: center;
        margin-bottom: 1em;
    }

    .vehicleSelect {
        margin: 0.5em auto 0.5em;
        width: 12em;
        font-size: medium;
        text-align: center;
        padding: 0.3em 0.8em;
    }

    #msgNewVehicle {
        font-size: large;
        color: #1abc9c;
        text-align: center;
        margin-bottom: 1em;
    }

    #invImage,
    #invThumbnail {
        color: #3a3a3a;
    }
    .hint{
        color: #4c96d7;
    }

    input:required:invalid, input:focus:invalid{
        background-color: #ffe2e3 ;
    }

    input:focus:valid {
        background-color: lightskyblue;
        color: #3a3a3a;
    }
    textarea:required:invalid, textarea:focus:invalid{
        background-color: #ffe2e3 ;
    }
    textarea:focus:valid{
        background-color: lightskyblue;
        color: #3a3a3a;
        font-size: large;
        font-weight: 800;
    }
    select:invalid{
        background-color: #ffe2e3;
    }
    select:valid{
        background-color: #ffffff;
    }